body {
    background-color: black;
}

h1 {
    color: pink;
}

p {
    color: white;
}

a {
    color: white;
}

ul {
    color: white;
}

li {
    color: white;
}

label {
    color: white;
}