body {
    background-color: black;
}

h1 {
    color: pink;
}

h2 {
    color: pink;
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125%;
}

a {
    color: lightblue;
}